<div id="epilogue-modal" class="map-modal" aria-hidden="true">
  <div class="map-modal__dialog intro-modal__dialog">
    <div class="map-modal__header">
      <h3 class="map-modal__title" id="epilogue-modal-title">에필로그</h3>
      <button id="close-epilogue-modal-btn" class="btn btn--location" type="button">
        Close ×
      </button>
    </div>
    <iframe
      id="epilogue-iframe"
      class="intro-modal__frame"
      title="에필로그"
      src="about:blank"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <p class="map-modal__hint">Esc 키를 누르면 닫힙니다.</p>
  </div>
</div>
